name: gk-mrl
channels:
  - pytorch
  - nvidia
  - conda-forge
dependencies:
  - python=3.10
  - pip
  - numpy
  - scipy
  - pandas
  - matplotlib
  - tqdm
  - pyyaml
  - scikit-learn
  - scikit-image
  - jupyterlab
  - ipykernel
  - notebook
  - segyio
  - lasio
  - pip:
      - rich
      - hydra-core
      - omegaconf
      - tensorboard
